body {
    color: #E2E2B6;
    font-family: 'JetBrains Mono';
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

#backgroundCanvas {
    position: fixed;    
    z-index: -1; 
}

.section {
    min-height: 100vh;
    width: 100vw;
}

#name {
    color: #6EACDA;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 10%;
    z-index: 1000;
    background-color: #1f1f1f;
}

.navbar-brand,
.nav-link {
    color: #6EACDA;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #bccad4;
}

.tech-spacing {
    margin-top: 3em;
    margin-bottom: 1em;
    opacity: 0.8;
}
  
.skill-item {
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 0.2em;
    transition: transform 0.5s ease-in-out;
}

.skill-item:hover {
    transform: scale(1.2);
    border: 1px solid #E2E2B6;
    background-color: #1a1a1a;
}

.margin-b-3 {
    margin-bottom: 3em;
}

.timeline-container {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    max-width: 70vw;
}

.timeline-container::-webkit-scrollbar { 
    display: none;
}

.timeline-bar {
    position: absolute;
    top: 25px;
    left: 0;
    height: 4px;
    width: auto;
    background: #383838;
    transform: translateY(-50%);
    z-index: -1;
}

.progress-step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    transition: 0.5s;
    background-color: #6EACDA;
    color: #021526;
}

.progress-step:hover {
    background: white;
}

.timeline-card {
    background-color: #E2E2B6;
    color: #021526;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

.timeline-item:hover .progress-step{
    background: white;
}

.timeline-item:hover .timeline-card{
    opacity: 1;
}

.projects-section {
    margin-bottom: 5em;
}

.projects-title {
    color: #6EACDA;
}

.projects-img-row {
    max-width: 70vw;
}

.projects-img {
    aspect-ratio: 9/6;
    height: auto;
    width: 100%;
    max-width: 900px;
    max-height: 600px;
}

.projects-desc {
    font-size: 1.3em;
}

.projects-stack-title {
    font-size: 1.1em;
    color: #6EACDA;
}

.projects-stack-item {
    border: 1px solid white;
}

.carousel-control-colour-inverted .carousel-control-next, 
.carousel-control-colour-inverted .carousel-control-prev,
.carousel-control-colour-inverted button  {
    filter: invert(100%);
}

.contact-btn-email {
    background-color: #6edab1;
}

.contact-btn-linkedin,
.resume-download {
    background-color: #6EACDA;
}

.contact-btn-email:hover {
    background-color: #6edab1ad;
}

.contact-btn-linkedin:hover,
.resume-download:hover {
    background-color: #6EACDAad;
}

.card {
    background-color: #A888B5 ;
}
